<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 150px;
}
.demo-card-wide > .mdl-card__menu {
  color: #000;
}
#confirmation {
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 25px;
}
.less-padding {
  width: 65vw;
}
</style>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" id="map"></div>
  <div class="mdl-card__supporting-text">
    <table>
      <tr>
        <td>
          <div class="less-padding mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
          </div>
        </td>
        <td>
          <button id="confirmation" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">done</i>
          </button>
        </td>
      </tr>
    </table>
  </div>
{{!--   <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div> --}}
</div>