<div class="ml-container">
  <header class="ml-text ml-header">{{success}}</header>
  <div class='{{#if full}}ml-div-full{{else}}ml-div-empty{{/if}}'></div>
  <footer class="ml-text ml-footer">{{fail}}</footer>
</div>

