<div class="demo-card-wide mdl-shadow--2dp history-item">
  <div class="mdl-card__title history-header">
    <h2 class="mdl-card__title-text">{{createdAtStr}}</h2>
    <div class="mdl-card__title-text history-total">$ {{total}}</div>
  </div>
  <hr>
  <div class="mdl-card__supporting-text history-description">
    <span class="history-nb">Orden: {{order_no}}</span>
  </div>
  
</div>