<div class="cv-demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">

  </div>
  <div class="mdl-card__actions mdl-card--border" style="background-color:antiquewhite;">
  <h2 class="cv-text mdl-card__title-text">Tu pedido esta en marcha, comparte con tu amigos y gana mililitros</h2>
    <div style="margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;text-align:center;">
      <!-- Twitter -->
      <a href="#" title="Share on Twitter" target="_blank" class="third mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
      <!-- Facebook -->
      <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="facebook customer share third mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook" href="http://www.facebook.com/sharer.php?u={{code}}"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
      {{!-- <a class="fb-share-button third mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</a> --}}
      {{!-- <a href="#" class="fb-share-button third mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</a> --}}
      <!-- Google+ -->
      <a href="#" title="Share on Google+" target="_blank" class="third mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--googleplus"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
    </div>
  </div>
</div>
