/*@import 'header';

$font-stack:    Helvetica, sans-serif;
$primary-color: #ff0000;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
*/
.article-quantity-toBuy {
  display: flex !important;
  align-items: center !important; }

.ticket-input {
  width: 40px !important;
  text-align: center !important; }

.ticket-buttons {
  height: 20px !important;
  min-width: 20px !important;
  width: 20px !important; }

.ticket-total-unit {
  font-size: 19px;
  width: 60px; }

.ticket-unit-price {
  font-size: 14px; }

.article-ticket-unit {
  width: 60px; }

.ticket-total-ticket {
  color: #ff4081;
  font-size: 20px; }

.footer-tickets {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 17%;
  margin-bottom: 40px; }

.ticket-titles {
  color: #ff4081; }

.title-ticket-quantity {
  justify-content: center; }

.ticket-title-container {
  overflow-y: auto; }
