<!-- Wide card with share menu button -->

<h3 class="form-message-title">¿Eres mayor de edad?</h3>
<div class="form-message-container-check">
    <button class="form-message-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      SI
    </button>
    <button class="form-message-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      NO
    </button>
</div>
