<li class="mdl-list__item mdl-list__item ">
    <span class="mdl-list__item-primary-content ticket-titles title-ticket-quantity" style="">
		  Cantidad
    </span>
    <span class="mdl-list__item-primary-content article-quantity-toBuy " style="">
      <span class="ticket-titles" style="">Nombre</span>
    </span>
    <span class="mdl-list__item-primary-content article-ticket-unit" style=""> 
      <span class="ticket-unit-price ticket-titles">$ C/U</span>
    </span>

    <span class="mdl-list__item-primary-content ticket-total-unit" style=""><span class="ticket-titles ticket-total-uni">Total</span>
      
    </span>
  </li>



<ul class='mdl-list ticket-articles-container'>

</ul>
<footer class="footer-tickets">
	<span class="ticket-total-ticket">TOTAL: $ 0.0</span>
  <span class="ticket-discount hidden"></span>
  <div class="ticket-discount-line hidden" style=" background-color: #ff4081; 
  height: 1px; width:20%;"></div>
  <span class="ticket-real-price hidden"></span>
</footer>